<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      ><img src="../../assets/e2vr.png" alt="logo-e2vr" class="logo"
    /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>List Users</h1>
  <div *ngFor="let user of users$">
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{user.picture.medium}}" />
        </ion-avatar>
        <ion-label>
          <h3>{{user.name.first + ' ' + user.name.last}}</h3>
          <p>{{user.name.title}}</p>
        </ion-label>
      </ion-item>

      <ion-card-header>
        <ion-card-title> Personal informations</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Gender : {{user.gender}}</li>
          <li>Age : {{user.dob.age}}</li>
          <li>
            Location : {{user.location.street + ' ' + user.location.city + ', '
            + user.location.state}}
          </li>
          <li>E-mail : {{user.email}}</li>
          <li>Phone : {{user.phone}}</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
